:root {
    background: #68b4F0 url('/sky.jpg') no-repeat 50% 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
:focus-visible {
    outline: none;
}

html {
    font-size: 16px;

    @media screen and (min-width: 480px) {
        font-size: 18px;
    }
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 26px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 30px;
    }
}

body {
    min-height: 100vh;
}

/* 像素字 */
@font-face {
    font-family: 'Fusion Pixel'; 
    src: url('/fonts/fusion-pixel-10px-proportional-zh_hant.otf.woff2') format('woff2'); 
    font-display: swap; 
}

/* 漂浮動畫 */
@keyframes loopFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}